html,body{
	height: 100%;
	font-family: Arial;
	background:url(v.jpg);
	

}

header{
	
	height: 100%;
	padding-top:1px;
}

.fondo2{
	background:rgba(67,181,227,0.4);

}


.tam-letter{
	font-size:6em;
}

.tam-letter2{
	font-size:4.5em;
}

.text-center{
	text-align: center;
}

.derecha{
	text-align: right;
}

.izquierda{
	text-align: left;
}


.mitad{
	width: 33%;
}

.tam-name{
	width: 33%;
}
.inline-block{
	display: inline-block;
	margin-right: -4px;
}

.inline{
	display: inline;
}

.more-margin{
	margin-bottom: 200px;
}

.margen{
	width: 80%;
	margin-right:auto;
	margin-left:auto;
}

.margen2{
	width: 100%;
	margin-right:auto;
	margin-left:auto;
}
.big-top-space{
	margin-top: 150px;
}

.format-free{
	display: -webkit-flex;
	display: flex;
}

.blue{
	background-color: rgb(50,50,200);
}
.rojo{
	background-color: rgb(250,0,0);
}

.fondo{
	background:url(w.jpg);
}

.fuente{
	font-family: 'Roboto Condensed', sans-serif;
}

.fuente1{
	font-family: 'Varela', sans-serif;
}

.fuente2{

	font-family: 'Quattrocento Sans', sans-serif;
}







